@import '../abstract/variables';

.landing-page {
    .recommend-card {
        @extend .flex-col, .align-center;
        width: 24%;
        height: 144px;
        background: $almostBlack;
        .header {
            color: $yellow;
            font-family: 'Inter';
            text-align: center;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 22px;
            margin-top: 24px;
        }
        hr {
            width: 56px;
        }
        .sub-text {
            color: white;
            font-weight: 300;
            font-size: 18px;
        }
        margin-right: 32px;
    }

    .article-card {
        @extend .flex-col;
        width: 24%;
        height: 222px;
        margin-right: 8px;
        font-weight: 300;
        .image-container {
            height: 144px;
            background-size: cover !important;
            position: relative;
            .created-date {
                background: $yellow;
                font-size: 15px;
                color: white;
                width: fit-content;
                padding: 2px 5px;
                position: absolute;
                bottom: 0;
            }
        }
        .description{
            color: black;
            font-size: 15px;
            margin-top: 5px;
        }
        .tag-container {
            @extend .flex;
            .tag {
                color: $orange;
                margin-right: 10px;
                font-size: 12px;
            }
        }
    }

    .bottom-button-container {
        text-align: center;
        .bottom-button {
            width: 296px;
            height: 56px;
            background: linear-gradient(32.95deg, $yellow 8.75%, $orange 86.64%);
            border: none;
            cursor: pointer;
            font-size: 18px;
            color: white;
            font-weight: 300;
            border-radius: 5px;
        }
        .bottom-button:hover {
            filter: grayscale(10%);
        }
    }
    
    @media screen and (max-width: 1250px) {
        
    }
}
